
#taskItem {
    margin-bottom: 20px;
    .taskContent {
        display: flex;
        border-radius: 0.25rem;
        justify-content: space-between;
        overflow: hidden;
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        
        .taskTitle {
            padding: 1.5rem 2rem 2rem 2rem;
            .titleName {
                font-weight: 700;
                font-size: 1.75rem/* 14px */;
                line-height: 1.5rem/* 20px */;   
                margin-bottom: 1rem/* 8px */
            }
            
            .taskType {
                margin-bottom: 0.5rem/* 8px */;         
                color: rgb(55 65 81);
                opacity: 0.5;
            }
        }
        
        .taskDeleteBtn {
            padding: 1rem 1.5rem 1rem 1.5rem;
            .deleteBtn {
                background-color: rgb(185 28 28);
                color: rgb(255 255 255);
                font-weight: 700;
                padding: 1.5rem 2rem 2rem 2rem;
                margin-bottom: 1rem;
                border-radius: 0.25rem;
            }
            .deleteBtn:hover {
                background-color: rgb(153 27 27);
            }
            
        }
    }
}